spring:
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  hikari:
    maximum-pool-size: 10
    minimum-idle: 2
    idle-timeout: 60000
    connection-timeout: 30000
    validation-timeout: 5000
    keepalive-time: 300000
  jwt:
    secret: ${JWT_SECRET}
    access-token-expiration-ms: 1296000000
  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
      s3:
        bucket: simvex-storage
      region:
        static: ap-northeast-2